import("methods")
importClassesFrom(Biobase, eSet, VersionedBiobase, Versioned,
                  AnnotatedDataFrame, AssayData, MIAME, Versions)
importFrom(Biobase, annotatedDataFrameFrom, assayData, assayDataNew,
           classVersion)
importFrom(DESeq, newCountDataSet)
importFrom(edgeR, calcNormFactors, DGEList)
import("IRanges")
import("xmapcore")
import("Rsamtools")
import("GenomicRanges")
exportPattern("^[^\\.]")

useDynLib( rnaSeqMap, gcoverage, ghistogram, regionmining, splicingind )



